{% extends 'base.html' %} {% block pageContent %}
    <div class="container min-vh-100">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 col-sm-12 col-xs-12">
                <div class="card shadow-3 rounded-3">
                    <div class="card-header">
                        <div class="h5 text-black fw-bold mt-2 ps-4">My Profile</div>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid py-4">
                            <div class="row">
                                <div class="col-md-8">
                                    <dl>
                                        <dt>Full Name</dt>
                                        <dd>{{ user.first_name }} {{ user.last_name }}</dd>
                                        <dt>Email</dt>
                                        <dd>{{ user.email }}</dd>
                                        <dt>Username</dt>
                                        <dd>{{ user.username }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock pageContent %}