{% extends 'base.html' %}{% load static %}{% block pageContent %}
<div class="row justify-content-center min-vh-100">
    <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12">
        <div class="card card-default rounded-3 shadow-3">
            <div class="card-header">
                <h4 class="text-black pt-2"><b>Update Password</b></h4>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <form id="register-user" method="POST" action="{% url 'update-password' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">

                                {{ form.as_p }}
                                <div class="form-group mb-3">
                                    <div class="d-flex w-100 justify-content-end">
                                        <button class="btn btn-sm rounded-3 btn-primary col-4">
                                                Update
                                            </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %}